/* ===========================
   MD JISAN PORTFOLIO
   Version 1.0
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#0f172a;

    color:white;

    line-height:1.7;

}

header{

    text-align:center;

    padding:80px 20px;

}

header h1{

    font-size:55px;

    color:#38bdf8;

}

header p{

    margin-top:15px;

    font-size:22px;

    color:#cbd5e1;

}

nav{

    display:flex;

    justify-content:center;

    gap:30px;

    padding:25px;

    background:#111827;

}

nav a{

    text-decoration:none;

    color:white;

    font-size:18px;

    transition:.3s;

}

nav a:hover{

    color:#38bdf8;

}

section{

    width:90%;

    max-width:1200px;

    margin:auto;

    padding:80px 20px;

}

h2{

    font-size:38px;

    margin-bottom:20px;

    color:#38bdf8;

}

p{

    font-size:18px;

}section{
    max-width:900px;
    margin:80px auto;
    padding:20px;
}

section h2{
    color:#4db8ff;
    font-size:38px;
    margin-bottom:20px;
}

section p{
    color:white;
    font-size:20px;
    line-height:1.8;
}

ul{
    list-style:none;
    padding:0;
}

ul li{
    background:#1b2845;
    margin:10px 0;
    padding:15px;
    border-radius:8px;
}

.project{
    background:#1b2845;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
}
